@import '../../scss/variables.scss';

.logout {
    margin-left: auto;
}

.button {
    border: none;
    background-color: $boulder;
    color: $basic-white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}