$default-font: 'Montserrat', 'Arial', sans-serif;

$basic-black: #000000;
$basic-white: #ffffff;
$project-color: #ffd602;

$woodsmoke: #141616;
$outer-space: #2A363B;
$boulder: #7B7676;
$corduroy: #636563;
$mandy: #E84A5F;
$crimson: #DB1731;
$wild-sand: #F5F5F5;
$tundora: #4D4D4D;
$custom-tundora: #404040;
$nobel: #B6B6B6;
$gallery: #F0F0F0;
$silver-chalice: #DFDFDF;
$mercury: #E9E8E8;
$alto: #D9D9D9;
$alabaster: #F8F8F8;
$highland: #689666;
$pastel-green: #74D371;
$silver: #BEBEBE;
$dove-gray: #6D6D6D;
$tall-poppy: #B3283B;
$cocoa-brown: #352020;
$mine-shaft: #262626;
$grey: #7f7f7f;
$chalet-green: #44742D;
$outer-space-special: #292e30;
