$default-font: 'Montserrat', 'Arial', sans-serif;

$basic-black: #000000;
$basic-white: #ffffff;
$project-color: #f7cf03;

$woodsmoke: #141616;
$woodsmoke-special: #0a0a0a;
$outer-space: #2A363B;
$outer-space-extra: #131818;
$outer-space-special: #292e30;
$boulder: #7B7676;
$corduroy: #636563;
$mandy: #E84A5F;
$crimson: #DB1731;
$wild-sand: #F5F5F5;
$tundora: #4D4D4D;
$nobel: #B6B6B6;
$gallery: #F0F0F0;
$silver-chalice: #A3A3A3;
$mercury: #E9E8E8;
$alto: #D9D9D9;
$alabaster: #F8F8F8;
$highland: #689666;
$pastel-green: #74D371;
$silver: #BEBEBE;
$dove-gray: #6D6D6D;
$tall-poppy: #B3283B;
$cocoa-brown: #352020;
$jewel: #107243;